<div id='header'>
    <div id='header-left'>
        <div id='logo'>🍭</div>
        <div id='title'>
            <span class='large english'>No-Kids-No-Cry</span><span class='small'>特殊教育知识分享</span>
        </div>
    </div>
    <div id='header-right'>
        <div id='search-box'>
            <input type='text' placeholder='搜索书名、作者、关键词...' />
            <select id='select-type'>
                <option value="all">全部</option>
                {% for item in site.data.material.metadata.type-chinese %}
                    <option value="{{ site.data.material.metadata.type[forloop.index0] }}" title="{{ site.data.material.metadata.type-description[forloop.index0] }}">{{ item }}</option>
                {% endfor %}
            </select>
            <button id='search-button'>🔍</button>
        </div>
        <button id='about-button'>关于👀</button>
        <div id='about-content'>
            <p>🍍 Hello, 这是一个分享特殊教育资源的网站，其中包括关于特殊教育的书籍、量表、文档、法规、视频以及其他网站，希望这些电子化的资源能够给一些人带来帮助。</p>
            <p>🍓 感谢这些资源的创作者，本人无意侵犯您的版权，只是希望这些电子化的资源能够更加促进特殊教育的研究和发展。</p>
            <p>🍒 期待更多的人一起分享特殊教育资源，你可以通过附件或网盘形式将相关的电子资源发送到<a title='coyotesss@yandex.com'>我的邮箱</a>，你分享的资源也会被添加到该网站。</p>
            <p>🍑 如果本站没有你想要的资源，你可以通过<a title='coyotesss@yandex.com'>邮箱</a>向我求助（免费），我将尽快取得资源并通过邮箱转发给你，同时将资源添加到该网站。
            <p>🍇 以上两点是丰富该网站的主要方式，希望各位积极参与。</p>
            <p>🍉 如果你发现了一些错误或者有更好的建议，也请<a title='coyotesss@yandex.com'>联系我</a>。</p>
            <p>🍋 站长邮箱：<a id='email' class='english'>coyotesss@yandex.com</a></p>
            <p class='english'>🥝 Contributors：Coyotesss, Flas, Mafi。</p>
        </div>
    </div>
</div>
