<div id='header'>
    <div id='header-left'>
        <div id='logo'>🌽</div>
        <div id='title'>
            <span class='large english'>No-Kids-No-Cry</span><span class='small'>特殊教育知识分享</span>
        </div>
    </div>
    <div id='header-right'>
        <div id='search-box'>
            <input type='text' placeholder='搜索书名、作者' /><button id='search-button'>🔍</button>
        </div>
        <button id='about-button'>关于👀</button>
        <div id='about-content'>
            <p>🍍 如你所看到的，这是一个分享特殊教育资源的网站，其中包括关于特殊教育的书籍、量表、视频以及其他网站，希望这些电子化的资源能够给特殊儿童家长、特殊教育研究者及特殊教育从业人员带来一些帮助，进而促进特殊教育的发展。</p>
            <p>🍓 感谢这些资源的创作者，如有冒犯或侵权，实属抱歉，请及时<a title='coyotesss@yandex.com'>联系我</a>。</p>
            <p>🍒 期待更多的人一起分享特殊教育资源，您可以将相关的电子资源发送到<a title='coyotesss@yandex.com'>我的邮箱</a>。</p>
            <p>🍋 站长邮箱：<a id='email' class='english'>coyotesss@yandex.com</a></p>
        </div>
    </div>
</div>
