<div id='materials'>
    {% for item in site.data.material %}
        <div class='material-container'>
            <div class='material'>
                <div class='material-image'>
                    <img src="/assets/images/material_cover/{{ item.index }}" />
                </div>
                <div class='material-info'>
                    <div class='name'>
                        <span>📕书名：</span>
                        <span class='info' title="{{ item.name }}">{{ item.name }}</span>
                    </div>
                    <div class='author'>
                        <span>👩‍🎓作者：</span>
                        <span class='info' title="{{ item.author }}">{{ item.author }}</span>
                    </div>
                    <div class='year'>
                        <span>📅日期：</span>
                        <span class='info' title="{{ item.year }}">{{ item.year }}</span>
                    </div>
                </div>
            </div>
            <div class='material-modal'>
                <div>《{{ item.name }}》</div>
                <hr />
                <div class='urls'>
                    <span>🔑下载:</span>
                    {% for url in item.urls %}
                        <a href="{{ url.link }}">{{ url.vendor }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div id='no-result'>大海里什么鱼也没捞到🤷‍♀️，请缩短关键词再次搜索🔎......</div>
</div>
