<div id='modal'>
  <div id='modal-content'>
    <h1>🍅爬虫选手请注意，本站致力于服务<a href="https://baike.baidu.com/item/%E7%89%B9%E6%AE%8A%E5%84%BF%E7%AB%A5/6959619?fr=aladdin">特殊儿童</a>，您的爬取会导致网站流量耗尽，从而阻碍他们获得更好的帮助；此外，本站技术含量极低，根本无法检验您的爬虫技术，因此请绕道🙏。</h1>
    <h1>🍒为避免流量浪费，如果需要批量获取资源，请直接邮件联系我，我将免费发送给你✨。</h1>
    <h1>🍆由于网站上的所有资源都采用了去中心化存储，所以链接打开速度和文件下载速度比较缓慢，请大家耐心等待🚦。</h1>
    <h1>🌽如果你懂得科学上网，那么请优先使用网络代理。</h1>
    <h1>🥜校园网和政务网可能存在严苛的防火墙策略，如果你处于这类网络且无法打开网站，那么请更换你的网络（如使用手机热点）。</h1>
    <button>知道啦🍬</button>
  </div>
</div>
