<div id='modal'>
  <div id='modal-content'>
    <h1 style="color: red">🎉🎉🎉网站新添加了<b class="underline">盲校</b>与<b class="underline">聋校</b>相关的各学科教材（≈200），但由于其中大部分教材与普通学校的教材内容几乎同步，于是索性将其列入<b class="underline">普通教材</b>。你可以通过该链接<a href="https://nokidsnocry.github.io/textbook/">/textbook</a>访问和下载包括盲校、聋校、培智学校以及其他普通学校在内的几乎全部的义务教育+高中阶段的电子教材（2300+）🎈🎈。</h1>
    <h1>🍇由于微信以及其他一些国产软件无脑拉黑部署在国外的网站，因此请使用自带浏览器或其他浏览器打开本网站🌯。</h1>
    <h1>🌽为避免流量浪费，请按需下载，勿进行重复且不必要的下载🎨。</h1>
    <h1>🥦如果你懂得科学上网，那么请优先使用网络代理🌱。</h1>
    <h1>🥜校园网和政务网可能存在严苛的防火墙策略，如果你处于这类网络且无法打开网站，那么请更换你的网络（如使用手机热点）🍡。</h1>
    <button>知道啦🍬</button>
  </div>
</div>
