*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}
html,
body {
    width: 100%;
    position: relative;
    background: var(--body-color);
    font-family: 'KaiTi';
}
a {
    cursor: pointer;
}
.english {
    font-family: 'Times New Roman';
}
.hide {
    display: none;
}
.book {
    border-color: #FC999F !important;
}
.scale {
    border-color: #E36488 !important;
}
.document {
    border-color: #4BBB8B !important;
}
.law {
    border-color: #84B9EF !important;
}
.video {
    border-color: #22559C !important;
}
.website {
    border-color: #8E7CC7 !important;
}
#header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    background: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header #header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    color: var(--color-yellow);
    font-weight: 900;
}
#header #title span.large {
    text-decoration: underline;
}
#header #title span.small {
    font-size: 1rem;
}
#header #header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
#header #search-box {
    font-size: 0;
}
#header #search-box > * {
    font-size: 1rem;
}
#header #search-box input {
    width: 200px;
    height: 30px;
    vertical-align: middle;
    border: 0;
    outline: none;
    border-radius: 1px 0 0 1px;
    padding-left: 6px;
    cursor: text;
}
#header #search-box input::placeholder {
    font-style: italic;
}
#header #search-box select {
    width: 60px;
    height: 30px;
    vertical-align: middle;
    border: 0;
    border-left: 1px solid var(--color-yellow);
    outline: none;
    font-family: 'KaiTi';
    font-weight: 900;
}
#header #search-box button,
#header #about-button {
    width: 40px;
    height: 30px;
    vertical-align: middle;
    border: 0;
    outline: none;
    border-radius: 0 1px 1px 0;
    cursor: pointer;
    background: var(--color-yellow);
}
#header #search-box button:active {
    background: var(--color-blue);
}
#header #about-button {
    width: 60px;
    border-radius: 1px;
    margin-left: 1rem;
    background: var(--color-green);
}
#header #about-button:active {
    background: var(--color-blue);
}
#header #about-content {
    position: fixed;
    width: 30vw;
    min-width: 400px;
    height: max-content;
    max-height: 60vh;
    padding: 2rem;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 100;
    background: #eee;
    border-radius: 4px;
    box-shadow: 4px 4px 10px gray;
    overflow: auto;
    font-size: 1.2rem;
}
#header #about-content > p {
    margin-bottom: 1rem;
}
#header #about-content > p > a {
    text-decoration: underline;
}
#header #about-content #email {
    color: var(--color-blue);
}
#materials {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--material-width));
    grid-template-rows: var(--material-height);
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}
#materials .material-container {
    position: relative;
}
#materials .material {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--material-color);
    top: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
    border: solid 5px #E06526;
    height: var(--material-height);
}
#materials .material-container:hover .material {
    filter: brightness(40%);
}
#materials .material-container:hover .material-modal {
    opacity: 1;
}
#materials .material-image,
#materials img {
    width: var(--material-image-width);;
    height: calc(var(--material-height) - 10px);
    border-radius: 10px 0 0 10px;
}
#materials img {
    object-fit: cover;
}
#materials .material-info {
    width: calc(var(--material-width) - var(--material-image-width));
    height: var(--material-height);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
#materials .material-info > .name,
#materials .material-info > .author,
#materials .material-info > .year {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#materials .info {
    text-decoration: underline;
    font-weight: 900;
}
#materials .material-name {
    position: absolute;
    margin: auto 5px;
    right: 0;
    left: 0;
    font-weight: 900;
    height: max-content;
    padding: 0.5rem;
    bottom: 5px;
    text-align: center;
    background: #F5CD3B;
    color: #fff;
}
#materials .material-modal {
    position: absolute;
    margin: auto 5px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: max-content;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#materials .material-modal .urls {
    color: var(--color-orange);
    width: max-content;
    height: max-content;
    padding: 1rem;
    background: var(--color-yellow);
    border-radius: 2px;
    font-weight: 900;
}
#materials #no-result {
    width: max-content;
    height: max-content;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    color: var(--color-orange);
    font-weight: 900;
    font-style: italic;
    display: none;
    padding: 1rem;
}
@media screen and (max-width: 850px) {
    #header #title {
        display: none;
    }
    #header #header-right {
        padding-right: 4px;
    }
    #header #about-content {
        width: 80vw;
        min-width: 80vw;
    }
    #header #logo {
        font-size: 1.5rem;
    }
    #header #about-button {
        margin-left: 4px;
    }
    #header #about-content {
        font-size: 1rem;
    }
    #materials #no-result {
        width: 80vw;
        max-width: 80vw;
        max-height: 60vh;
        overflow: auto;
        font-size: 1rem;
    }
}

